@font-face
  font-family: 'GothamProBold'
  src: url('./fonts/GothamProBold/GothamProBold.eot')
  src: url('./fonts/GothamProBold/GothamProBold.woff') format('woff'),
    url('./fonts/GothamProBold/GothamProBold.ttf') format('truetype')
  font-style: normal
  font-weight: bold
  text-rendering: optimizeLegibility

@font-face
  font-family: 'GothamProMedium'
  src: url('./fonts/GothamProMedium/GothamProMedium.eot')
  src: url('./fonts/GothamProMedium/GothamProMedium.woff') format('woff'),
    url('./fonts/GothamProMedium/GothamProMedium.ttf') format('truetype')
  font-style: normal
  font-weight: bold
  text-rendering: optimizeLegibility

img
  max-width: 100%

body
  font-family: 'GothamProMedium', Arial, Tahoma, Verdana, sans-serif

.container
  position: relative
  margin: 0 auto


