
// Fonts
//@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Select2
.select2-container--default {
  .select2-selection--single,
  .select2-selection--multiple {
    height: 34px;
    padding-left: 0;
    border-color: #d2d6de;
    .select2-selection__arrow {
      height: 30px;
    }
  }
  .select2-selection--multiple {
    .select2-selection__choice {
      color: #333;
    }
  }
}

// Prices/Price groups
#prices {
  .evo-cp-wrap {
    margin-left: 45px;
  }

  .evo-pointer {
    height: 34px;
    width: 34px;
  }
}

// Shipping/Shipping  zones
#shippingZoneTable {
  ~ .help-block {
    display: none;
  }
}

.form-group.has-error {
  #shippingZoneTable .form-control {
    border-color: #d2d6de;
  }
}

// Event Hall Widget
.hall-widget-frame {
  width: 100%;
  min-height: 500px;
}
