.ap_order {
  max-width: 900px;
  margin: 40px auto;
  background-color: #fff;
}

.ap_headline {
  display: flex;
  align-items: center;
  font-family: $fontSB;
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.ap_headline-text {
  margin-left: 20px;
}

.ap_order__info {
  display: flex;
  padding: 26px 33px 40px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  p {
    margin-bottom: 20px;
    line-height: 1.44;
  }
}

.ap_order__col1 {
  flex: 0 0 25.5%;
  color: rgba(0, 0, 0, 0.4);
}

.ap_order__col2 {
  flex: 0 0 25%;
}

.ap_order__col3 {
  color: rgba(0, 0, 0, 0.4);
}

.ap_order__actions {
  display: flex;
}

.ap_order__action {
  display: block;
  flex-grow: 1;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.06);
  border: 0;
  font-size: 18px;
  font-family: $fontSB;
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 20px;
  }
}

.table-selected tr:hover {
  cursor: pointer;
}

.widget-open {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
}

.widget-close {
  display: none;
}

.widget-close-btn {
  margin-right: 25px;
  line-height: 51px;
  font-size: 28px;
}

.widget-wrapper {
  background: rgba(0,0,0,.6);
}

.widget-content {
  height: 920px;
  background: #f4f5f5;
  position: absolute;
  width: 1635px;
  right: -1900px;
  top: 0;
}

.widget-header--data,
.widget-header--info,
.widget-hall-location,
.widget-event-date {
  display: inline-block;
}

.widget-hall-location,
.widget-event-date {
  color: #777;
}

.widget-header--info {
  margin-left: 15px;
  h4 {
    margin: 5px 0;
  }
}

.widget-header--img {
  vertical-align: top;
  width: 35px;
}

.widget-header--close {
  float: right;
}

.widget-header {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background: #fff;
}

.widget-event-date {
  margin-left: 10px;
}

.widget-body {
  padding: 15px;
}

.widget-block,
.widget-tickets {
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  background: #fff;
  border: 1px solid #ccc;
}

.widget-tickets table {
  margin-bottom: 0;
}

.event-item p {
  margin-bottom: 5px;
}

.period-search {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #ccc;
  background: #fff;
  cursor: pointer;
}

.prices-count {
  width: 50%;
  float: left;
}

.modal-client {
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f4f4f4;
}

.modal-sum {
  margin-top: 20px;
}
