.ap_backlink {
  display: block;
  padding-left: 33px;
  background-image: $iconArrowLeft;
  background-size: 23px;
  background-position: left center;
  background-repeat: no-repeat;
}

// Navigation
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

// Select2
.select2-container--default {
  .select2-selection--single,
  .select2-selection--multiple {
    height: 34px;
    padding-left: 0;
    border-color: #d2d6de;
    .select2-selection__arrow {
      height: 30px;
    }
  }
  .select2-selection--multiple {
    .select2-selection__choice {
      color: #333;
    }
  }
}

// Buttons
.btn.btn-file-upload {
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  transition: .3s;
}

button.btn-file-upload {
  background: #fff;
}

.btn.btn-file-upload:hover {
  background: #efefef;
}

.btn.btn-file-upload input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
}

// Image uploader
.image-preview {
  width: 100%;
  height: 398px;
  margin-bottom: 3px;
  background: url('/images/no-image.jpg') center center no-repeat;
  background-size: cover;
  border: 1px solid rgba(0,0,0,.1);
}
